# IDE files #
#############
.~lock.*
.buildpath
.idea
.project
.pydevproject
.settings
composer.lock
.Rhistory
*.pyc
*.log
cyberRosary/cyberRosary/settings.py
cyberRosary/*.jpg
cyberRosary/*.png
django.mo
