{% extends "rosary/base/root_template.html" %}
{% load i18n %}
{% block content %}
<section class="measure">
    <div class="grd">
        <div class="grd-row">
            <div class="grd-row-col-4-6">
            </div>
            <div class="grd-row-col-2-6 txt--right">
                <a href="/admin/">{% trans "Admin" %}</a>
            </div>
        </div>
    </div>
    <h4>{% trans "e-Rose members" %}</h4>
    {% if pis %}
    <table>
        <thead>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Mystery" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Last activity" %}</th>
        </thead>
        <tbody>
        {% for pi in pis %}
        <tr class="txt--right {% cycle 'bg--white' 'bg--light-gray' %}  ">
            <td class="txt--left">{{ pi.person.name }}</td>
            <td class="txt--left"><a href="{% url 'check_printout' pi.code %}">
                [{{ pi.mystery.short_number_group }}] {{ pi.mystery.title }}</a></td>
            <td class="txt--left">
                {% if pi.downloaded %}
                <span class="fnt--green">{{ pi.downloaded|date:"Y-m-d" }}</span>
                {% else %}
                <span class="fnt--red">{% trans "Not downloaded" %}</span>
                {% endif %}

            </td>
            <td class="txt--left">{{ pi.person.last_activity|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{% blocktrans %} {{not_downloaded}} haven't download.
    Last download on {{last_downloaded}}{% endblocktrans %}
    </p>
    {% else %}
    <p>{% trans "No e-Rose members are available." %}</p>
    {% endif %}
</section>
{% endblock content %}
