<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
{% load i18n %}
  <title>{% block title %}{% trans "e-Rosa members" %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="Cyberarché">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% load static %}
  <link rel="stylesheet" href="{% static "rosary/css/furtive.min.css" %}">
  <link rel="stylesheet" href="{% static "rosary/css/main.css" %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--link rel="icon" type="image/png" href="images/favicon.png"-->
{% block head %}
{% endblock head %}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="content" class="p2 bg--white">
  {% block content %}{% endblock content %}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats4.mydevil.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 138]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats4.mydevil.net/piwik.php?idsite=138" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
